@* Recipe page, for single recipe details *@

@{
    ViewData["Title"] = "Details - Waltz and Whisk"; // title that appears in browser tab
}

<!-- Hero (big main) section -->
<section class="hero">
    <h1>Waltz and Whisk</h1>
    <p>Recipe details for @Model</p>
</section>