@* Recipe index page, for list of all recipes *@

@{
    ViewData["Title"] = "Recipes - Waltz and Whisk"; // title that appears in browser tab
}

<!-- Hero (big main) section -->
<section class="hero">
    <h1>Waltz and Whisk</h1>
    <p>All Recipes</p>
</section>